@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight:bold;
  src: local(''),
       url('../fonts/gilroyextrabold.woff2') format('woff2'), 
       url('../fonts/gilroyextrabold.woff') format('woff'); 
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/gilroylight.woff2') format('woff2'), 
       url('../fonts/gilroylight.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('../fonts/opensans.woff2') format('woff2'), 
       url('../fonts/opensans.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/opensanslight.woff2') format('woff2'), 
       url('../fonts/opensanslight.woff') format('woff'); 
}

* {
  margin: 0;
  padding: 0;
  font-family:'Gilroy' , 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #000;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

a, li{
  text-decoration: none;
  list-style-type: none;
}

/* Header start */

.header__wrapper{
  position: relative;
  /* background-color: rgba(240,197,46, 0.5); */
  background-color: #f7e296;
  margin-top: 40px;
  height: 299px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.logo{
  position: absolute;
  top: -19px;
  left: 60px;
}

.container-1{
  padding: 53px 61px 0 63px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.search-form{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search-form__input{
  border: none;
  background-color: transparent;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  height: 16px;
  width: 144px;
  background: url(../img/search.png) no-repeat left;
  padding-left: 36px;
  opacity: 0.3;
}

.search-form__input:hover{
  opacity: 0.6;
  border: none;
  outline: none;
}

.search-form__input:focus{
  outline: none;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-top: 19px;
  padding-bottom: 30px;
  width: 356px;
}

.search-form__btn{
   display: none; 
 
  text-align: center;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: "Open Sans";
  width: 85px;
  height: 49px;
 }

.search-form__input:focus + .search-form__btn{
   display: block;

}

.services{
  width: 499px;
}

.list-services{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.services-item__link{
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.services-item__link_enter{
  background: url(../img/user.png) no-repeat left ;
  padding-left: 27px;
}

.services-item__link_compare{
  background: url(../img/compare.png) no-repeat left;
  padding-left: 20px;
  margin-left: 219px;
}

.services-item__link_cart{
  background: url(../img/cart.png) no-repeat left;
  padding-left: 24px;
  margin-left: 41px;
}

.services-item__link:hover{
  opacity: 0.6;
}

.services-item__link:active{
  opacity: 0.3;
}

.container-2{
  margin: 80px 0 0 60px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.dropdown-container{
  display: none;
  padding-bottom: 24px;
}


.dropdown{
  position: relative;
}

.dropbtn{
  font-family: "Gilroy ";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 3.6px;
  width: 214px;
  text-transform: uppercase;
  background: url(../img/plus.png) no-repeat right;
  padding-right: 32px;
}

.dropbtn:hover{
  opacity: 0.6;
}

.dropbtn:active{
  opacity: 0.3;
}

.list-catalog__link{
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}

.list-catalog__link:hover{
  opacity: 0.6;
}

.list-catalog__link:active{
  opacity: 0.3;
}


.dropdown:hover .dropdown-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  position: absolute;
  width: 518px;
  left: 0; 
   z-index: 20; 
  background-color: #f7e296;
}
.nav{
  margin-right: 61px;
  width: 499px;
}
.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.list-item__link{
  font-family: "Gilroy ";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.list-item_delivery{
  width: 121px;

}

.list-item_guarantee{
  width: 109px;
  margin-left: 38px;
}

.list-item_contacts{
  width: 117px;
  margin-left: 114px;
  margin-right: 10px;
}

.list-item__link:hover{
  opacity: 0.6;
 }
 
 .list-item__link:active{
   opacity: 0.3;
  }


/* Header end */
/* Slide main start */
/* .wrapper-slide{
 margin-right: 90px ;
 margin-left: 60px;
 background-color: transparent;
} */

.wrapper-slide{
  z-index: 3;
}

.ben-slider,
.lose-weight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -109px;
  background-color: transparent;
  margin-right: 90px ;
  margin-left: 60px;
}
.lose-weight{
  margin-top: -109px;
  background-color: transparent;
  margin-right: 1160px ;
  margin-left: 54px;
}

.quadcopter{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: -100px;
  background-color: transparent;
  margin-right: 31px ;
  margin-left: 53px;
 
}

.content-slide{
  margin-left: 125px;
}

.img{
   z-index: 3; 
} 

.content-slide{
   z-index: 3; 
}

.info-slide__title{
  margin-top: 75px;
  width: 394px;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.17px;
  position: relative;
}

.info-slide__title::before{
  content: '';
  position: absolute;
  background-color: white;
  width: 100px;
  height: 7px;
  top: -46px;
  z-index: 2;
}
.info-slide__title_ben::after{
  content: url(../img/number_one.png);
  position: absolute;
  right: -90px;
  top: -70px;
  z-index: 2;
}

.info-slide__text{
  margin-top: 31px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.carousel{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.carousel__link{
  width: 220px;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  padding-left: 43px;
 
}

.carousel__link::before{
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #f0c52e;
  width: 220px;
  height: 8px;
  z-index: -1;
}

.carousel__link:hover+.carousel__link::before{
  content: '';
  background-color: #f0c52e;
  top: 0;
  left: 0;
  width: 220px;
  height: 40px;
  z-index: -1;
}

.carousel__link:active+.carousel__link::before{
  content: '';
  background-color: #f0c52e;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 220px;
  height: 40px;
  z-index: -1;
}

/* .carousel__link:active{
  background-color:#f0c52e; 
  padding: 14px 43px 11px 44px;
  opacity: 0.3;
  
}

.carousel__link:hover{
  background-color:#f0c52e; 
  padding: 14px 43px 11px 44px;
  
} */

.characteristics{
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.long{
  margin-right: 81px;
}

.long__metr,
.weigh__kg,
.material__name{
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  height: 36px;
}
.long__text{
  margin-top: 20px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.weight{
  margin-right: 80px;
}

.weight__text{
  margin-top: 25px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.material__text{
  margin-top: 18px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}
.content-slide_fit{
  margin-left: 125px;
}

.info-slide__title_fit{
  width: 259px;
  margin-top: 81px;
}
.info-slide__title_fit::after{
  content: url(../img/number_two.png);
  position: absolute;
  right: -249px;
  top: -70px;
}

.info-slide__text_fit{
  width: 445px;
}
.time__hour{
  font-family: Gilroy;
   font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  height: 36px;
}

.time__text{
  margin-top: 25px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

 .content-slide_quadcopter{
  margin-left: 0;
} 

.img__selfie_quad{
  margin-top: 56px;
  width: 526px;
}

.info-slide__title_quad{
  width: 502px;
  margin-top: 71px;
 
}

.info-slide__title_quad::after{
    content: url(../img/number_three.png);
    position: absolute;
    right: 0;
    top: -70px;
  z-index: -1;
}

.info-slide__text_quad{
  margin-top: 39px;
  width: 455px;
}

.circle{
  margin-top: 5px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
}

.radio-container{
  position: relative;
  width: 12px;
  margin-right: 21px;
}

.radio-container__input{
  visibility: hidden;
}
.radio-container__label{
  margin-right: 21px;
}

.radio-container__label::before{
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 11px;
  border: 1px solid black;
  border-radius: 100%;
}

.radio-container__input:checked+.radio-container__label::after{
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 3.7px;
  left: 4.3px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  border: 1px solid black;
}

/* Slide main end */

/* Popular technique start */

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 106px;
}

.block-technique__text{
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-top: 39px;
}

.img-block{
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  box-sizing: border-box;
}

.img-block__virtual{
  padding: 52px 32px 53px 31px;
}

.block-technique__monopods{
  padding: 41px 36px 2px 38px;
}

.block-technique__action{
  padding: 38px 40px 35px 49px;
}

.block-technique__bracelet{
  padding: 50px 25px 45px 28px;
}

.block-technique__smart{
  padding: 32px 49px 30px 55px;
}

.block-technique__quadr{
  padding: 49px 15px 42px 13px;
}
.block-technique__text_virtual{
  width: 144px;
}

.block-technique__text_monopods{
  width: 93px;
}

/* Popular technique end */

/* Services start */
.container-services{
  margin-top: 84px;
  height: 388px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(to bottom, white 24%, #e5e5e5 24% 76%);
  padding-left: 140px;
}

.service-block__input{
  visibility: hidden;
}

.service-block_first{
  margin-top: 80px;
}
.service-block{
  margin-bottom: 53px;
  position: relative;
}

.service-block_last{
  margin-bottom: 0;
}
.service-block__label{
  font-size: 18px;
  font-weight: bold;
  font-family: "Gilroy ";
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  z-index: 3;
}
.service-block__label::before{
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #f0c52e;
  width: 160px;
  height: 8px;
  z-index: -1;
}

.service-block__label_del::after{
  content: url(../img/service-line.png);
  position: absolute;
  top: -80px;
  left: 277px;
  width: 7px;
  height: 319px;
}

.service-block__label_del{
  padding-left: 6px;
}
.service-block__label_garantee{
  padding-left: 12px;
}
.service-block__label_credit{
  padding-left: 24px;
}

.services-del,
.services-garant,
.services-credit{
  position: absolute;
  top: 65px;
  left:540px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}
.info-del__title,
.info-garant__title,
.info-credit__title{
  font-family: "Gilroy ";
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.info-del__text,
.info-garant__text,
.info-credit__text{
  width: 426px;
  margin-top: 43px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.info__text_garantee{
  width: 436px;
}

.info-credit__text {
  width: 425px;
}

.servic-img-del,
.servic-img-garant,
.servic-img-credit{
  margin-left: 132px;
}


/* Services end */

/* Partners start */
.partners-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 94px;
}

/* Partners end */

/* Footer start */
.footer{
  margin-top: 500px;
  background-color: #464646;
  height: 323px;
  width: 100%;
}

.container-footer-services{
  padding-top: 65px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-footer{
 padding-top: 8px; 

}

.list-footer{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.service-item-footer{
  line-height: 36px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
}

.service-item-footer__link{
  color: #ffffff;
  opacity: 0.7;
}

.service-item-footer__link_enter{
  background: url(../img/user-footer.png) no-repeat left;
  padding-left: 27px;

}

.service-item-footer__link_compare{
  background: url(../img/compare-footer.png) no-repeat left;
  padding-left:  20px;
  margin-left: 44px;
}

.service-item-footer__link_cart{
  background: url(../img/cart-footer.png) no-repeat left;
  padding-left: 24px;
  margin-left: 41px;
}

.service-item-footer__link:hover{
  opacity: 0.6;
}

.service-item-footer__link:active{
  opacity: 0.3;
}


.container-footer-nav{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adress__text,
.tel__link{
  line-height: 30px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
}

.nav-footer{
  margin-top: 18px;
}

.nav-footer-list{
  display: flex;
  flex-direction: row;
  width: 423px;
  justify-content: center;
}

.footer-item__link{
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-item{
 margin-right: 38px;
}

.footer-item:last-child{
 margin-right: 0;
}

.footer-item__link:hover{
  opacity: 0.6;
}

.footer-item__link:active{
  opacity: 0.3;
}

.tel{
  margin-top: 12px;
}

.tel__link:hover{
  opacity: 0.6;
}

.tel__link:active{
  opacity: 0.3;
}



.container-footer-social{
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-line{
  margin-top: 12px;
}

.social-list{
  display: flex;
  flex-direction: row;
}

.social-item{
  text-decoration: none;
  list-style-type: none;
  width: 32px;
  height: 32px;
  
  border-radius: 50%;
  margin-right: 23px;
  position: relative;
}

.social-item:last-child{
  margin-right: 0;
}

.social-item__link{
  opacity: 0.3;
}

.social-item__link_f::after{
 content: '';
 position: absolute;
 background-image: url(../img/fb.png);
 top: 0;
 left: 0;
 width: 32px;
 height: 32px;
}

.social-item__link_inst::after{
  content: '';
  position: absolute;
  background-image: url(../img/inst.png);
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.social-item__link_tw::after{
  content: '';
  position: absolute;
  background-image: url(../img/tw.png);
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.social-item__link:hover{
  opacity: 0.6;
}

.social-item__link:active{
  opacity: 0.1;
}

.img-footer-link:hover{
  opacity: 0.6;
}

.img-footer-link:active{
  opacity: 0.3;
}
/* Footer end */